@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,400&family=Roboto+Slab:wght@200;300;400;600;700&display=swap');

:root {
    --bg-color: #111111;
    --primary-dark-color: #000000;
    --white-color: #ffffff;
    --gray-color: #696969;
    --blueish: #51b2f3;
    --greenish: #a8eab1;
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;
    --card-rgb: 180, 185, 188;
    --card-border-rgb: 131, 134, 135;
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

body {
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--bg-color);
    font-family: 'Roboto Slab', serif;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px !important;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

.design-text {
    color: var(--blueish);
    background: -webkit-linear-gradient(45deg, var(--blueish), var(--greenish));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.font-700 {
    font-weight: 700;
}

.clip {
    -webkit-clip-path: polygon(18px 0%, 100% 0%, calc(100% - 18px) 100%, 0% 100%);
    clip-path: polygon(18px 0%, 100% 0%, calc(100% - 18px) 100%, 0% 100%);
}

.clip-right {
    -webkit-clip-path: polygon(calc(100% - 48px) 0, 100% 48px, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(calc(100% - 48px) 0, 100% 48px, 100% 100%, 0 100%, 0 0);
}